<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead"> Web Terbaru dan ter Update Bagi Pemula node.js, Express dan Database MongoDB.</p>
    <a href="/about" class="btn btn-dark btn-lg">Tentang Website</a>
</div>